/* PHASE 11: Icons */
.icon-comment{
  
}

.icon-reblog{

}

.icon-favorite{

}

.icon-friend{

}

.icon-star{

}

.icon-photo{

}

[class*="icon-"]{
  background-image: url("../images/sprite.png");
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 0;
  overflow: hidden;
  padding-top: 25px;
  background-repeat: no-repeat;
  vertical-align: bottom;
}